/* CAS Login Page Styles - HCMUT Style */

/* Reset */
html, body, div, span, h1, h2, h3, p, a, label, input, ul, li { margin: 0; padding: 0; border: 0; }

body { 
  font-family: Helvetica, Arial, sans-serif; 
  font-size: 13px; 
  line-height: 1.4em;
  background: #eee;
}

#cas { background: #eee; }
#cas .flc-screenNavigator-view-container { 
  width: 85%; 
  margin: 0 auto; 
}

#cas .flc-screenNavigator-view-container #header, 
#cas .flc-screenNavigator-view-container #content { 
  background: #fff; 
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1); 
}

#cas .flc-screenNavigator-view-container #content { 
  border-bottom-right-radius: 4px; 
  border-bottom-left-radius: 4px; 
}

/* Header */
#cas #header { padding-top: 10px; }
#cas #header #app-name { 
  background: #210F7A; 
  color: white; 
  padding: 0.8em 1em; 
  display: flex;
  align-items: center;
}

#cas #header #app-name > img { 
  height: 50px;
  margin-right: 20px;
}

#cas #header #app-name > h1 { 
  font-weight: bold; 
  font-size: 1.8em;
  margin: 0;
}

/* Content */
#cas #content { 
  padding: 10px; 
  overflow: hidden; 
}

#cas #content #msg { 
  padding: 20px; 
  margin-bottom: 10px; 
}

#cas #content #msg h2 { 
  font-size: 1.4em; 
  margin-bottom: 0.5em; 
}

#cas #content #msg.errors { 
  border: 1px dotted #BB0000; 
  color: #BB0000; 
  background-color: #ffe6e6;
}

#cas #content #msg.success { 
  border: 1px dotted #390; 
  color: #390; 
  background-color: #e6ffe6;
}

/* Login Box */
#cas #content #login { 
  width: 420px; 
  float: left; 
  margin-right: 20px; 
}

#cas #content #login #fm1 { 
  padding: 20px; 
  background: #eee; 
  border-radius: 5px; 
}

#cas #content #login #fm1 h2 { 
  font-size: 1.4em; 
  font-weight: bold; 
  padding-bottom: 10px; 
  margin-bottom: 10px; 
  border-bottom: 1px solid #DDDDDD; 
  color: #990033;
}

#cas #content #login #fm1 .row { 
  margin-bottom: 10px; 
}

#cas #content #login #fm1 .row .fl-label { 
  display: block; 
  color: #777777; 
  font-size: 107.692%; 
  font-weight: bold;
  margin-bottom: 5px;
}

#cas #content #login #fm1 .row .accesskey {
  text-decoration: underline;
}

#cas #content #login #fm1 .row input[type=text], 
#cas #content #login #fm1 .row input[type=password] { 
  padding: 6px; 
  border-radius: 3px; 
  border: 1px solid #DDDDDD; 
  background: #FFFFDD; 
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
}

#cas #content #login #fm1 .row.check { 
  padding-bottom: 10px; 
  margin-bottom: 10px; 
  border-bottom: 1px solid #DDDDDD; 
  color: #777; 
  font-size: 12px; 
}

#cas #content #login #fm1 .row.check input[type=checkbox] {
  margin-right: 5px;
  vertical-align: middle;
}

#cas #content #login #fm1 .row.check label {
  display: inline;
  font-weight: normal;
}

#cas #content #login #fm1 .row .btn-submit, 
#cas #content #login #fm1 .row .btn-reset {  
  background-color: #006DCC;
  background-image: linear-gradient(to bottom, #0088CC, #0044CC);
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  color: #FFFFFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0;
  padding: 4px 14px;
  text-align: center;
  margin-right: 10px;
}

#cas #content #login #fm1 .row .btn-submit:hover, 
#cas #content #login #fm1 .row .btn-reset:hover { 
  opacity: 0.9;
}

#cas #content #login #fm1 .row.support {
  margin-bottom: 0px;
  border-bottom: none;
  padding-bottom: 0;
}

#cas #content #login #fm1 .row.support ul { 
  list-style: none; 
  padding: 0;
}

#cas #content #login #fm1 .row.support ul li { 
  display: inline-block; 
  padding: 0px 10px; 
  border-right: 1px solid #e2e2e2; 
}

#cas #content #login #fm1 .row.support .first { 
  padding-left: 0;
}

#cas #content #login #fm1 .row.support ul li:last-child { 
  border: 0; 
}

#cas #content #login #fm1 .row.support a {
  color: #0088CC;
  text-decoration: none;
}

#cas #content #login #fm1 .row.support a:hover {
  text-decoration: underline;
}

/* Sidebar */
#cas #content #sidebar { 
  width: auto; 
}

#cas #content #sidebar .sidebar-content { 
  padding-left: 20px; 
}

#cas #content #sidebar .sidebar-content p { 
  margin-bottom: 0.8em; 
  margin-left: 430px; 
  margin-right: 25px;
  text-align: justify;
  line-height: 1.5em;
  color: #555;
  background: #f9f9f9;
  padding: 10px;
  border-left: 3px solid #990033;
}

#cas #content #sidebar .sidebar-content h3 { 
  font-size: 1.2em; 
  font-weight: bold; 
  color: #990033; 
  margin-top: 1.2em;
  margin-left: 430px;
}

#cas #content #sidebar .sidebar-content ul { 
  list-style: none; 
  margin-left: 430px;
  padding: 0;
}

#cas #content #sidebar .sidebar-content ul li { 
  display: inline-block; 
  padding: 0px 10px; 
  border-right: 1px solid #e2e2e2; 
}

#cas #content #sidebar .sidebar-content ul li:last-child { 
  border: 0; 
}

#cas #content #sidebar .sidebar-content a {
  color: #0088CC;
  text-decoration: none;
}

#cas #content #sidebar .sidebar-content a:hover {
  text-decoration: underline;
}

/* Footer */
#cas #footer { 
  color: #999; 
  margin: 20px auto;
  text-align: center;
  font-size: 12px;
  width: 85%;
}

#cas #footer #copyright {
  margin-top: 10px;
}

#cas #footer p {
  margin: 5px 0;
}

#cas #footer a {
  color: #0088CC;
  text-decoration: none;
}

#cas #footer a:hover {
  text-decoration: underline;
}

/* Responsive */
@media only screen and (max-width: 960px) { 
  #cas .flc-screenNavigator-view-container { 
    width: 100%; 
  }
  
  #cas .flc-screenNavigator-view-container #content { 
    border-bottom-right-radius: 0px; 
    border-bottom-left-radius: 0px; 
  }
  
  #cas #footer { 
    padding-left: 10px; 
    width: 100%;
  }
}

@media only screen and (max-width: 799px) { 
  #cas #header #app-name h1 { 
    font-size: 1.3em; 
  }
  
  #cas #content #login { 
    float: none; 
    width: 100%; 
  }
  
  #cas #content #login #fm1 .row input[type=text], 
  #cas #content #login #fm1 .row input[type=password] { 
    padding: 12px; 
  }
  
  #cas #content #login #fm1 .row .btn-submit { 
    width: 100%; 
    padding: 10px 20px;
    margin-bottom: 10px;
  }
  
  #cas #content #sidebar { 
    margin-top: 20px; 
  }
  
  #cas #content #sidebar .sidebar-content { 
    padding: 0 10px; 
  }
  
  #cas #content #sidebar .sidebar-content p,
  #cas #content #sidebar .sidebar-content h3,
  #cas #content #sidebar .sidebar-content ul { 
    margin-left: 0; 
    margin-right: 0;
  }
}
